@import "../../variables"
.content-form
  width: 40%
  margin: 0 auto
  padding: 20px
  text-align: center
input[type=text], input[type=submit], select
    width: 100%
    padding: 12px 20px
    margin: 8px 0
    display: inline-block
    border: 1px solid #ccc
    border-radius: 50px
    box-sizing: border-box
input[type=text]
  text-align: center
select
  text-align-last: center
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right
  -webkit-appearance: none
  background-position-x: 310px
input[type=submit], form p
  cursor: pointer
input[type=submit]
  color: white
  font-weight: bold
  border-color: $blue
  background-color: lighten($blue, 30%)
.result
  margin-bottom: 0
form p
  font-size: .85rem
  margin: 0
  color: lighten($blue, 30%)
  text-decoration: underline
