<div class="container-list">
  <div class="list-header">
    <div class="item">Nombre</div>
    <div class="item">Precio</div>
    <div class="item">Criptomoneda</div>
    <div class="item">Convertir</div>
  </div>
  <div class="list-coins">
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
    <div class="coin">
      <div class="item">a</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
    </div>
  </div>
</div>
