@import "../../variables"
.container-list
  font-family: "PT Sans", serif
  margin: auto
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 2em
.list-header, .coin
  display: flex
.list-header
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)
  margin-bottom: 2em
.list-header div
  height: 40px
.list-coins
  height: 300px
  overflow-y: auto
.item
  text-align: center
  flex: 1
  width: 20px
  height: 20px
  padding: 4px
.coin
  margin-bottom: 2em

